@import "../../assets/styles/variable";
@import "../../assets/styles/mixin";
@import "../../assets/styles/responsive";

.live-store{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 10px auto;
    @include screen_size(md) {
      width: 1000px;
    }

    @include screen_size(sm) {
      width: 700px;
    }

    @include screen_size(xs) {
      width: 100%;
    }
}