@import "../../assets/styles/variable";
@import "../../assets/styles/mixin";
@import "../../assets/styles/responsive";

.filter-bar {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  .tags {
    border-bottom: solid 1px #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .other-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include screen_size(xs) {
      flex-direction: column;
      .order, .search, .addnote{
        margin-bottom: 10px;
      }
    }
  }
}

.f-control{
  width: auto;
  color: rgba(62, 73, 122, 1);
  border: solid 1px rgba(62, 73, 122, 1);
  border-radius: 3px;
  height: 26px;
  padding: 0 10px;
  background-color: rgba(62, 73, 122, .1);
}
