// colors
$background: #F0EBE3;
$textColor: #495464;
$borderColor: #BBBFCA;

// media
$media-small: 768px;
$media-medium: 992px;
$media-large: 1200px;

// font sizes
$fontSizeXS: 12px;
$fontSizeS: 16px;
$fontSizeM: 18px;
$fontSizeL: 20px;

$radius: 5px;
$cardRadius: 8px;

//severity
$primary: #3E497A;
$primaryDark: #21325E;

$danger: #EB5353;
$dangerDark: #B22727;

$success: #4E944F;
$successDark: #3e7c3f;

$light: #E8E8E8;
$lightDark: #BBBFCA;